/* Global Elements */
* {
    margin: 0;
    padding: 0;
    color: #4ba2f9;
    font-family: 'Titillium Web', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/LandingPageBK.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/********* 
Local
*********/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200');

/* Page Container */
.page-container {
    margin: 30px;
    margin-bottom: 0;
    height: 100vh;
    position: relative;
}


/* Nav Bar */
.navbar-full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

nav ul li {
    padding: 10px;
    font-size: 21px;
    font-weight: 100;
}

nav ul li:hover {
    border-bottom: 2px solid #fff;
}

.logo h1 {
    font-size: 2.3rem;
}

.topnav .icon {
    display: none;
}

.fa {
    padding-top: 15px;
    padding-right: 15px;
}

/* Mid Content */
.mid-content {
    position: absolute;
    top: 45%;
    left: 0;

    vertical-align: center;
    width: 90%;
    font-size: 1.9rem;
    margin-left: 40px;
}

.mid-content h1 {
    opacity: 0.8; 
    text-shadow: 2px 2px #000;
}

.mid-content h4 {
    padding-top: 20px;
    font-size: 1.5rem;
    opacity: 0.7;
    text-shadow: 2px 2px #000;
}

/* Footer Section  */
.footer {
    position: absolute;
    bottom: 5%;
    
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    
}

.ft  {
    padding: 65px;
    margin: 15px;
}

.footer a {
    width: 25%;
    height: 200px;
}

.ft h2,
.ft h4 {
    color: #fff;
    width: 100%;
}

.ft h2 {
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.ft h4 {
    color: #4ba2f9;
}

#sec1,
#sec3 {
    border-top: 3px solid #4ba2f9;
}

#sec2 {
    border-top: 3px solid #91befb;
}

.about-us {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/aboutUsPic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.insights {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/insightsPic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.people {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/peoplePic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.about-us:hover,
.insights:hover,
.people:hover {
    opacity: 0.3;
    border: 3px solid #fff;
}



/* About Us Content */
.about-us-content,
.insights-content,
.people-content {
    display: none;
    flex-direction: column;
    width: 80%;
    height:80vh;
    background-color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/about-us-content.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
    
    
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40%;
    margin-top: -45vh;
}

.about-us-content i,
.insights-content i,
.people-content i {
    position: absolute;
    top: 0;
    right:0
}

.about-us-content h1,
.insights-content h1,
.people-content h1 {
    text-align: center;
    font-size: 2.7rem;
    color: #fff;
    margin-top: 50px;
    text-shadow: 3px 3px 3px #000;
}

.about-us-content-p,
.insights-content-p,
.people-content-p  {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;

    
}

.about-us-content-p p,
.insights-content-p p,
.people-content-p p {
    padding: 10px;
    color: #fff;
    line-height: 1.6;
}























/* Media Queries */
@media (max-width: 650px) {
    .logo h1 {
        font-size: 2rem;
    }


    /* Navbar */
    .topnav a  {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        text-align: left;
        display: block;
    }

    .responsive {
        float: none;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding-right: 35px;
        background-color: grey;
    }
}

@media(max-width: 775px){
    .h1 {
        padding-bottom: 50px;
    }

    
}


@media(max-width: 990px) {
    .footer {
        display: none;
    }
}









