/* Global Elements */
* {
    margin: 0;
    padding: 0;
    color: #4ba2f9;
    font-family: 'Titillium Web', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/LandingPageBK.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/********* 
Local
*********/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200');

/* Page Container */
.page-container {
    margin: 30px;
    margin-bottom: 0;
    height: 100vh;
    position: relative;
}


/* Nav Bar */
.navbar-full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

nav ul li {
    padding: 10px;
    font-size: 21px;
    font-weight: 100;
}

nav ul li:hover {
    border-bottom: 2px solid #fff;
}

/* Mid Content */
.mid-content {
    position: absolute;
    top: 45%;
    left: 0;

    vertical-align: center;
    width: 80%;
    font-size: 1.9rem;
    margin-left: 40px;
}

.mid-content h1 {
    opacity: 0.8; 
}

.mid-content h4 {
    padding-top: 20px;
    font-size: 1.5rem;
    opacity: 0.6;
}

/* Footer Section  */
.footer {
    position: absolute;
    bottom: 5%;
    
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    text-align: center;
    
}

.ft {
    border-top: 1px solid #fff;
    padding: 65px;
    margin: 30px;
}

.ft h2,
.ft h4 {
    color: #fff;
}

.about-us {
    background-image: url("../img/aboutUsPic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.insights {
    background-image: url("../img/insightsPic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.people {
    background-image: url("../img/peoplePic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}













